{% extends 'base.html' %}
{% block title %}Add Profile{% endblock title %}
{% block body %}
<center>
<div>

    <div class="form-group mx-20 my-4" style="">

    {% if submitted %}
        <h2> Congratulations </h2>
        <h3> Your profile submitted successfully!!!</h3>
        For further services please <a href="{% url 'contact' %}"> contact us </a>
    {% else %}
        <h1>Add your profile here...</h1>
        <form action="" method=POST enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-secondary">
    {% endif %}
    </div>
</div>
</center>
{% endblock body %}
