{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}
{% block body %}
<center>
<div class="mx-2">
<br>
<h3>Contact us for any query and for Membership plans: </h3>
<br>
<br>
<a style="font-size:larger;"><strong><img style="max-width:120px;" src="/static/images/phone.jfif">Call at: 8799749539</strong></a>
<br>
<br>
<a style="font-size:larger;"><strong><img style="max-width:120px;" src="/static/images/WhatsApp.jfif">WhatsApp us at: 8799749539</strong></a>
<br>
<br>
<a style="font-size:larger;"><strong><img style="max-width:120px;" src="/static/images/gmail.jfif">Mail at: </strong></a>
<br>
<br>
<a style="font-size:larger;"><strong><img style="max-width:150px;" src="/static/images/office.jfif">Visit: </strong></a>
<br>
<hr>

</center>
{% endblock body %}