{% extends 'base.html' %}
{% block title %}Payment{% endblock title %}
{% block body %}
<center>
<div class="mx-2">
<br>
<h3>We accept UPI payments also:</h3>
<br>
<a><strong><img style="max-width:70px;" src="/static/images/paytm.jfif">Paytm</strong></a>
<a><strong><img style="max-width:70px;" src="/static/images/gpay.jfif">Google-Pay</strong></a>
<a><strong><img style="max-width:70px;" src="/static/images/phonepe.jfif">PhonePe</strong></a>
<br>
<hr>
</div>
<div class="mx-2 mt-2">
<h3>Accepted cards and payments</h3>
<p>We do not accept prepaid cards.</p>
<br>
<p><strong>Cards:</strong></p>

<p>American Express</p>
<p>Visa</p>
<p>Mastercard</p>

</div>
</center>
{% endblock body %}