{% extends 'base.html' %}

{% block title %}Search results {% endblock title %}

{% block body %}
<center>
  <div class="container" style="">
    {% if searched %}
    <h3>You have searched for: {{ searched }}</h3>
    <br />
    {% if partners|length < 1 %} <h5>No search results </h5>
      </br>
      <h6>- try different keywords </h6>
      </br>
      {% endif %}
      {% for i in partners %}
      <div class="xl:w-1/2 md:w-1/2 p-2">
        <div class="border border-gray-200 p-6 rounded-lg" style="background-color:sandybrown;">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src={{ i.image1.url }} class="d-block h-50 w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src={{ i.image2.url }} class="d-block h-50 w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src={{ i.image3.url }} class="d-block h-50 w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <hr>
          <center>
            <h2 class="text-lg text-gray-900 title-font ">Name: {{i.name}}</h2>
            <h4 class="text-lg text-gray-900 title-font ">Age: {{i.age}}</h4>
            <h4 class="text-lg text-gray-900 title-font ">Gender: {{i.gender}}</h4>
            <h4 class="text-lg text-gray-900 title-font ">Religion: {{i.religion}}</h4>
            <h4 class="text-lg text-gray-900 title-font ">Cast: {{i.cast}}</h4>
            <h4 class="text-lg text-gray-900 title-font ">Father's Name: {{i.father_name}}</h4>
            <h4 class="text-lg text-gray-900 title-font ">Mother's Name: {{i.mother_name}}</h4>
            <h4 class="text-lg text-gray-900 title-font ">Address: {{i.address}}</h4>
            <h4 class="text-lg text-gray-900 title-font ">Qualifications: {{i.qualifications}}</h4>
            <h4 class="text-lg text-gray-900 title-font ">Occupation: {{i.occupation}}</h4>
            <p style="color: black;">{{i.description}}
            </p>
            <h4 class="text-lg text-gray-900 title-font">Partner I'd: {{i.partner_id}}<h4>
                <hr>
                <button type="button" class="btn btn-dark" onclick="location.href='/membership'">Check-out!</button>
          </center>
        </div>
      </div>
      {% endfor %}

      {% else %}
      <h1>Hey! you forgot to search,
        <br>
        <br>Type anything (you want to search for) in search bar.
      </h1>
      <img src="/static/images/logo1.jfif">
      {% endif %}

  </div>
</center>

{% endblock body %}
